
@media screen and (max-width: 1920px) {

*{

padding:0;
margin:0;

scroll-behavior: smooth;

}


*::before{

padding:0;
margin:0;

}



/* transparentlinear-gradient(#0000005c, #51555d82) color */

.container {
   background: url(imgs/ihpone13.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    width: 100%;
    height: 92vh;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
    z-index: 999;
}

.content{

color:#fff;
z-index:999999;
max-width:900px;
}

section.ios {
    background: #f6f7f1;
    display: grid;
   grid-template-columns: 1fr  1fr;

    width: 100%;
    height: 120vh;
    margin-top: -174px;
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    opacity: 0;
  
margin-top:0px;
    background-repeat: no-repeat;
 animation: centeranim 2.5s forwards;
}

@keyframes centeranim{

100%{

opacity:1;
margin-top:150px;
}

}

.center img {
    margin-left: 400px;
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
   
}

.left p {
    opacity: 0;
  
    color: #526d7f;
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    animation: leftanim 2.5s forwards;
}


@keyframes leftanim{

100%{

opacity:1;

}

}







.camera {
    overflow: hidden;
    z-index: 9999;
    position: relative;
}

i.fas.fa-mobile-alt {
    font-size: 37px;
    margin: 7px;
}



i.fab.fa-apple{
    font-size: 37px;
    margin: 7px;
}

i.fas.fa-battery-three-quarters
{
    font-size: 37px;
    margin: 7px;
}


i.fas.fa-memory
{
    font-size: 37px;
    margin: 7px;
}

i.fas.fa-sd-card
{
    font-size: 37px;
    margin: 7px;
}



section.camera {
    display: flex;
    flex-direction: row;
    background: #000;
    width: 100%;
    height: 100vh;
}


.content {
    margin: 60px;
    display: flex;
    width: 45%;
    background: black;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    text-transform: uppercase;
    font-size: 29px;
    font-family: sans-serif;
}

.content p {
    font-size: 20px;
}



.content span {
    color: #c5ba38;
    font-size: 20px;
}


.content img {
    transition: 500ms ease-in;
    opacity: 0; 
    transform: rotate(360deg);

}


.content.rotatecamera img{
    opacity: 1; 
    transform: rotate(0deg);

}





.img-box {
    transition: 900ms ease-in;
    opacity: 0;
    width: 100%;
    background:url(imgs/img-box.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation: img-box 2.5s forwards;
}

@keyframes img-box{

    100%{
    
    opacity:1;
    
    }
    
    }






    section.aios {
        background: url(imgs/a15.png);
        display: grid;
       grid-template-columns: 1fr  1fr;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .acenter {
   
      
    margin-top:0px;
        background-repeat: no-repeat;
        text-align: center;
    }
    

.heada15 {
        color: #fff;
        font-size: 26px;
        text-transform: uppercase;
        font-family: sans-serif;
    }

.heada14 {
        color: #fff;
    font-size: 22px;
    font-family: sans-serif;
    }


.par14 {
        color: #fff;
        font-size: 20px;
    }


    
    .acenter img {
        margin-left: 400px;
    }
    
    
    .aleft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
       
    }
    
    .aleft p {
        opacity: 0;
      
        color: #526d7f;
        margin: 20px;
        font-size: 24px;
        font-weight: 700;
        font-family: sans-serif;
        animation: leftanim 2.5s forwards;
    }







    section.shipios {

        background: #fff;
        display: grid;
    grid-template-columns: 1.5fr 3fr;
    

        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .shipcenter {
        background: url(imgs/ship.jpg) center;


        background-repeat: no-repeat;
  
    }

    

    
  
    h2.shoot {
        font-size: 80px;
    }

    .shiptext {
        margin: 88px;
    }


    .shiptext {
        margin: 88px;
    }

    .shipleft p
    {
        margin: 88px;
        font-size: 20px;

    }



    span.shipspan {
        color: #536e7f;
        font-size: 27px;
    }

    button.allprogres {
        background: black;
        padding: 20px;
        margin: 0 80px;
        width: 180px;
        border-radius: 50px;
        border: 2px solid #fff0;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
    }



    section.gameios {
        background: url(imgs/game1.png) #fafafa;
       
        display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    

        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -190px;
        background-position-x: -25px;
    }
    
    .gamecenter {
        
        text-align: center;
 
  
    }

    

    
  
    h2.shoot {
        font-size: 80px;
    }

    .shiptext {
        margin: 88px;
    }


    .shiptext {
        margin: 88px;
    }

    .gameleft p
    {
        margin: 88px;
        font-size: 20px;

    }

    .headgame{
        color: #000;
        font-size: 29px;
        font-family: sans-serif;
        margin-top: 130px;
    }

    p.pargame {
        font-size: 20px;
    }

    img.download {
        margin-top: 667px;
    }




    section.contactios {
        background: #000;
        display: grid;
       grid-template-columns: 1fr  1fr;
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    


    

    .contactcenter {
   
      
    margin-top:0px;
        background-repeat: no-repeat;
        text-align: center;
    }
    


    .contactleft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
       
    }
    
    
    .contactright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
       
    }
    
  
    form.formapple {
        display: flex;
        flex-direction: column;
        margin: 27px;
        align-items: center;
    }

    input {
        width: 500px;
        padding: 10px;
        border-radius: 40px;
        background: #0000;
        border: 1px solid #d4c7be;
        color: #d4c7be;
        margin: 10px
    }

    textarea {
        width: 500px;
    }

    textarea.textareaapple {
        border-radius: 10px;
        background: #0000;
        border: 1px solid #d4c7be;
        height: 250px;
        color: #d4c7be;
        margin: 10px
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d4c7be;
        padding:10px;
        font-style: italic;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color:#d4c7be;
        font-style: italic;
      }

      ::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */
        color: #d4c7be;
        padding:10px;
        font-style: italic;
      }
    

      .btnsend {
        width: 500px;
        padding: 10px;
        border-radius: 40px;
        background: #0000;
        border: 1px solid #d4c7be;
        color: #d4c7be;
        margin: 10px
    }

    .btnsend:hover {
      
       cursor:pointer; 

    }












    footer.footersocial {
        border-top: 1px solid #ffffff24;
        background: #000;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
      }
      
      i.fab.fa-facebook-f {
        color: #fff;
        font-size: 31px;
      }
      
      i.fab.fa-twitter {
        color: #fff;
        font-size: 31px;
      }
      
      i.fab.fa-instagram {
        color: #fff;
        font-size: 31px;
      }
      
      i.fab.fa-pinterest-p {
        color: #fff;
        font-size: 31px;
      }
      
      ul.socialul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
      }
      
      ul.socialul li {
        padding: 40px;
        margin-left: -13px;
      }
      
      footer.footerbottom ul {
        padding: 10px 0 10px 100px;
      }
      
      footer.footerbottom {
        border-top: 1px solid #ffffff24;
        background: #000;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
      }
      
      footer.footerbottom div {
        padding: 17px 0px 11px 0px;
      }
      
      footer.footersocial ul {
        padding: 10px 0 10px 100px;
      }
      
      .private {
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #fff;
        font-family: sans-serif;
        font-weight: 700;
      }
      
      .terms {
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #fff;
        font-family: sans-serif;
        font-weight: 700;
      }
      
      .imgbottom {
        text-align: center;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      
      footer.copyright {
        padding: 20px 0 20px 0px;
        background: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #ffffff6e;
        font-family: sans-serif;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      
 
      
      .preloaderairplane {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-image: url("img/loader.gif");
        background-repeat: no-repeat;
        background-color: #FFF;
        background-position: center;
      }
      
      .preloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-image: url("img/loader.gif");
        background-repeat: no-repeat;
        background-color: #FFF;
        background-position: center;
      }
      
        a.bottomtel {
          color: #fff;
          text-decoration: none;
      }
      
      
      .desc{
      
      opacity:1;
        transition:500ms ease-in;
      }
      
      .hidedesc{
      opacity:0;
      }
      
       #scrolltotop {
          width: 70px;
          height: 70px;
          background: url(imgs/scrolltotop.png);
          background-size: cover;
          position: fixed;
          bottom: 0;
          right: 0;
          z-index: 9999999;
          opacity:0;
          transition:400ms ease-in;
      }

  .navbar {
 z-index: 999999999;
    position:fixed;
        height: 119px;
        align-self: flex-start;
        width: 100%;
        justify-content: center;
        display: flex;
        background: #0000005e;
        clip-path:polygon(0% 0%, 100% 0%, 100% 24%, 50% 100%, 0 24%);
        transition:500ms ease-in;
    }


.navbar.fixed{
z-index: 999999;
    height: 176px;
    position:fixed;
    clip-path:polygon(0% 0%, 100% 0%, 100% -1%, 50% 100%, 0 -1%);

}

.navbar.fixeddown{
    z-index: 999999;
        height: 120px;
        position:fixed;
        clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 50% 100%, 0 0%);
    
    }

    nav.navbar ul {
        display: flex;
        list-style: none;
    }

    ul.uli li {
        margin: 26px;
        font-size: 20px;
        color: #fff;
        font-family: sans-serif;
        text-transform: uppercase;
    }

    ul.uli li a {
        text-decoration: none;
        color: #fff;
        font-size: 17px;
    }

}



@media screen and (max-width: 1680px) {

    section.gameios {
        background: url(imgs/game1.png) #fafafa;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 120vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -213px;
        background-position-x: -140px;
    
    }

    img.download {
        margin-top: 625px;
    }


    section.aios {
        
        background: url(imgs/a15.png);
    }

 

}

@media screen and (max-width: 1366px) {


    .navbar.fixed {
      
        clip-path: polygon(0% 0%, 100% 0%, 100% 18%, 50% 100%, 0px 18%);
    }
    .content p {
        font-size: 14px;
    }

    .shipleft p {
        margin: 88px;
        margin-top: -59px;
        font-size: 14px;
    }

    h2.shoot {
        font-size: 39px;
    }

    button.allprogres {
      
        margin: -33px 80px;}

        .shipcenter {
            background-size: 100%!important;}

            .acenter p {
                font-size: 14px;
            }

            section.aios {
           
                background-size: 100%!important;
            }

            section.gameios {
                background: url(imgs/game1.png) center / cover no-repeat rgb(250, 250, 250);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 120vh;
                background-size: 100%;
                background-position-y:-54px;
            }

            img.download {
                display: none;
            }

            p.pargame {
                font-size: 14px;
            }

            textarea.textareaapple {
                width: 407px;
                height: 196px;}
                
    input {
         width: 407px;} 
    .btnsend {
            width: 407px;}    
                    
        ul.uli li a {
                
                font-size: 12px;}
            .center img {
                    margin-left: 156px;
                            }

                            .center img {
                                margin-left: 156px;
                                width: 550px;
                                height: 656px;
                                margin-top: -100px;
                            }
                            .left p {
                                font-size: 14px;
                                margin: 8px;
                            }                      
                            



}







@media screen and (max-width: 1280px) {


    .navbar.fixed {
      
        clip-path: polygon(0% 0%, 100% 0%, 100% 18%, 50% 100%, 0px 18%);
    }
    .content p {
        font-size: 14px;
    }

    .shipleft p {
        margin: 88px;
        margin-top: -59px;
        font-size: 14px;
    }

    h2.shoot {
        font-size: 39px;
    }

    button.allprogres {
      
        margin: -33px 80px;}

        .shipcenter {
            background-size: 100%!important;}

            .acenter p {
                font-size: 14px;
            }

            section.aios {
           
                background-size: 100%!important;
            }

            section.gameios {
                background: url(imgs/game1.png) center / cover no-repeat rgb(250, 250, 250);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 120vh;
                background-size: 100%;
                background-position-y:-54px;
            }

            img.download {
                display: none;
            }

            p.pargame {
                font-size: 14px;
            }

            textarea.textareaapple {
                width: 407px;
                height: 196px;}
                
    input {
         width: 407px;} 
    .btnsend {
            width: 407px;}    
                    
        ul.uli li a {
                
                font-size: 12px;}
            .center img {
                    margin-left: 156px;
                            }

                            .center img {
                                margin-left: 156px;
                                width: 550px;
                                height: 656px;
                                margin-top: -100px;
                            }
                            .left p {
                                font-size: 14px;
                                margin: 8px;
                            }                      
                            

}

@media screen and (max-width: 1024px) {

    .center img {
        margin-left: 57px;}

        .content {
        
            width: 60%;}
            span.shipspan {
           
                font-size: 18px;
            }
            .shipleft p {
                width: 200px;}


                section.gameios {
            
                    background-position-y: 34px;
    background-position-x: 22px;
                }

                form.formapple {
        
    margin-left: 36px;
}
                    footer.footersocial ul {
                        padding: 10px 0 10px 100px;
                        margin-left: -87px;
                    }

                    ul.uli li a {
                        font-size: 9px;
                    }
}



@media screen and (max-width: 800px) {


    .container {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
        height: 100vh;
        background-size: 100% 100% !important;
    }

        

    .navbar {
        opacity: 0;
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
  width:0%;
    }
    .openheader {
        opacity: 1;
        width: 100%;
    } 

   .navbar.fixed {
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  
    }

    .navbar.fixeddown {
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  
    }

    nav.navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ul.uli li a {
color:#000;

    }


    ul.uli li {
        margin: 5px;
    }

    .logo {
        display: block;
        position: absolute;
        top: 0;}


        .burgermenu {
            opacity: 1;
            right: 10px;
            background: #0000;
            width: 30px;
            height: 30px;
            z-index: 9999999999;
            position: fixed;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            top: 4px;

        }
        .burgermenu:hover{
cursor: pointer;

        }

        .burger1 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        }

        .burger2 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        
        }
        
        .burger3 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        }
        .burgermenu div {
            margin: 3px;
        }

    
        .acenter h1 {
            font-size: 15px;
        }     
     
        section.aios {
            background-size: cover!important;
            background-position-x: -150px;
        } 

        .shiptext {
            margin: 57px;
        }

        .shipleft p {
            margin: 32px;
            margin-top: -51px;
            font-size: 12px;
        }

        h2.shoot {
            font-size: 34px;
        }
        button.allprogres {
            margin: -33px 35px;
            padding: 10px;
            width: 122px;
        }

        .headgame {
            color: rgb(0, 0, 0);
            font-size: 29px;
            font-family: sans-serif;
            margin-top: 70px;
        }

        .content {
         
            margin-top: -100px;}

        .content h1 {
           font-size: 20px;
    
        }
        .content p {
       font-size: 12px;
        }
        .acenter p {
            font-size: 12px;
        }
        p.pargame {
            font-size: 12px;
        }

        .left p {
            font-size: 12px;
            margin: 10px;
        }

        i.fas.fa-sd-card {
            font-size: 21px;}    
            i.fas.fa-memory{

                font-size: 21px;    
            }
    i.fas.fa-battery-three-quarters{
        font-size: 21px; 

            }
            i.fas.fa-mobile-alt{

                font-size: 21px;  
            }

            i.fab.fa-apple{
                font-size: 21px;  

            }

            section.ios {

                height: 100%;}

                .center img {
                    margin-top: 5px;
                    margin-left: -41px;
                    height: 500px;
                    width: 400px;
                }
                form.formapple {
                    margin-left: 62px;
                }

                input {
                    height: 10px;
                    width: 257px;
                }

               
                textarea.textareaapple {
                    height: 150px;
                    width: 257px;
                }

                .btnsend{

                    width: 257px;  
                } 

                footer.footersocial ul {
                    padding: 10px 0 10px 100px;
                    margin-left: -103px;
                }

}
   



@media screen and (max-width: 480px) {

   
   .contactright {
      display: none;}
  
  section.contactios {
     grid-template-columns: 1fr;} 
   
 .headgame {

    font-size: 20px;}  
   
 section.gameios {
    background-position-y: 197px;
    background-position-x: -74px;
   background-size: 140%; 
    
}  
   
  .shipcenter {
    display: none;
} 
   
section.shipios {

   grid-template-columns: 1.3fr;}   
   
   
  .img-box {
     display: none;} 
   
.container {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
    background-size: 235% 100% !IMPORTANT;
    background-position-x: 529px;
}
        

    .navbar {
        opacity: 0;
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
  width:0%;
    }
    .openheader {
        opacity: 1;
        width: 100%;
    } 

   .navbar.fixed {
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  
    }

    .navbar.fixeddown {
        background: rgb(246, 247, 241);
        height: 100%!important;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  
    }

    nav.navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ul.uli li a {
color:#000;

    }


    ul.uli li {
        margin: 5px;
    }

    .logo {
        display: block;
        position: absolute;
        top: 0;}


        .burgermenu {
            opacity: 1;
            right: 10px;
            background: #0000;
            width: 30px;
            height: 30px;
            z-index: 9999999999;
            position: fixed;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            top: 4px;

        }
        .burgermenu:hover{
cursor: pointer;

        }

        .burger1 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        }

        .burger2 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        
        }
        
        .burger3 {
            background: #d4c7be;
            height: 4px;
            width: 30px;
        }
        .burgermenu div {
            margin: 3px;
        }

    
        .acenter h1 {
            font-size: 15px;
        }     
     
        section.aios {
            background-size: cover!important;
            background-position-x: -150px;
        } 

        .shiptext {
            margin: 57px;
        }

        .shipleft p {
            margin: 32px;
            margin-top: -51px;
            font-size: 12px;
        }

        h2.shoot {
            font-size: 34px;
        }
        button.allprogres {
            margin: -33px 35px;
            padding: 10px;
            width: 122px;
        }

        .headgame {
            color: rgb(0, 0, 0);
            font-size: 29px;
            font-family: sans-serif;
            margin-top: 70px;
        }

        .content {
         
            margin-top: -100px;}

        .content h1 {
           font-size: 20px;
    
        }
        .content p {
       font-size: 12px;
        }
        .acenter p {
            font-size: 12px;
        }
        p.pargame {
            font-size: 12px;
        }

        .left p {
            font-size: 12px;
            margin: 10px;
        }

        i.fas.fa-sd-card {
            font-size: 21px;}    
            i.fas.fa-memory{

                font-size: 21px;    
            }
    i.fas.fa-battery-three-quarters{
        font-size: 21px; 

            }
            i.fas.fa-mobile-alt{

                font-size: 21px;  
            }

            i.fab.fa-apple{
                font-size: 21px;  

            }

          section.ios {
    margin-top: -175px;
    height: 899px;
    position: relative;
    z-index: 99999;
    grid-template-columns: 1fr;
    
             
}
   
   .left p {
    margin: 5px 0px 11px 109px;
}
   

   
 .center img {
    margin-top: -60px;
    margin-left: -41px;
    height: 428px;
    width: 400px;
}  


     
                form.formapple {
                    margin-left: 62px;
                }

                input {
                    height: 10px;
                    width: 257px;
                }

               
                textarea.textareaapple {
                    height: 150px;
                    width: 257px;
                }

                .btnsend{

                    width: 257px;  
                } 

                footer.footersocial ul {
                    padding: 10px 0 10px 100px;
                    margin-left: -158px;
                }


   

}
